/**** Portofolio Website Styling ****/
body {
    margin: 0%;
}

h1 {
    text-transform: uppercase;
    font-family: raleway;
    text-align: center;
    margin-top: 3%;
    color: #257989;
}

h1:hover {
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

.white-text {
    color: white;
}

p {
    font-family: Ubuntu, Raleway, Playfair;
    text-align: justify;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.01);
}

.center {
    text-align: center;
}

.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

a {
    color: blue;
}

q {
    font-style: italic;
}

img {
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover {
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

footer {
    padding: 2%;
    background-color: white;
}

/***** Navbar Styling *****/
.Navbar {
    overflow: hidden;
    background-color: rgb(8, 7, 7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation: moveNav 5s;
    animation: moveNav 5s;
}

@keyframes moveNav {
    from {left: -100vw;}
    to {left: ovw;}
}

.Navbar a{
    float: left;
    display: block;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}
 
@keyframes moveNavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@media  and (max-width: 576px) {
    .Navbar a{
        width: 25%;
        font-size: 12px;
    }
}

.Navbar a:hover {
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

/***** Video styling ******/
#Typing_Video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media  screen and (max-width: 576px) {
    #Typing_Video {
        display: none;
    }
}

.Video_Text {
    background: rgba(0, 0, 0, 0.5);
    color: rgb(122, 215, 218);
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText {
    from {top: -100vw;}
    to {top: 0vw;}
}

#my_info {
    color: #17acf0;
}

/***** Table Styling *****/
* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #f2f2f2;
}

@media screen and (max-width: 576px) {
    .Column_1 {
        overflow: auto;
    }
}

.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;
}

.Column_tall {
    padding-top: 3.5%;
    height: 450px;
}

.Row::after {
    content: "";
    display: table;
    clear: both;
}

/***** Contact form styling *****/
input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif Bold;
}

input[type=text]:hover {
    box-shadow: 0 0 5px #00004d inset;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
    transform: scale(1.5);
    transition: transform 1.5s;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

